# Virtual Environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Distribution
build/
dist/

# Coverage
.coverage
htmlcov/